<h1>Recipes</h1>
<p>All recipes from secure (admin only) API endpoint:</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Recipe</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:25%">Name</th>
            <th style="width:25%">Description</th>
            <th style="width:25%">Ingredients</th>
            <th style="width:25%">Instructions</th>
            <th style="width:15%">Image</th>
            <th style="width:10%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipes">
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.instructions }}</td>
            <td><img [src]="'assets/images/' + recipe.imageUrl" alt="{{ recipe.name }}" style="max-width: 100px; max-height: 100px;"></td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{ recipe.id }}" class="btn btn-sm btn-primary mr-1">Edit</a>
             
            </td>
        </tr>
        <tr *ngIf="!recipes">
            <td colspan="5" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
