<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

<div class="recipe-form">
    <h2>Make Recipe</h2>
    <form (ngSubmit)="addRecipe()">
        <div>
            <input type="text" id="name" [(ngModel)]="newRecipe.name" name="name" placeholder="Name" required>
        </div>
        <div>

            <label for="description">Description:</label>
            <textarea id="description" [(ngModel)]="newRecipe.description" name="description" required></textarea>
            <label for="ingredient">Amount</label>
            <select [(ngModel)]="ingredientAmount" name="ingredientAmount">

                <option *ngFor="let amount of amounts">{{ amount }}</option>
            </select>
        </div>
        <div>
            <input type="text" id="image" [(ngModel)]="newRecipe.image" name="image" placeholder="Image URL" required>
        </div>
        
        <button type="submit">Submit</button>
    </form>
</div>

<div class="recipe-list">
    <h2>Added Recipe Here</h2>

    <div>
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search recipes..." />
        <button (click)="searchRecipes()">Search</button>
        <button (click)="clearSearch()">Clear</button>
    </div>
   
    <div *ngFor="let recipe of filteredRecipes; let i = index" class="recipe-item">
       <h3>Name</h3>
        <p>{{ recipe.name }}</p>
        <h3>Description</h3>
        <p>{{ recipe.description }}</p>
        <h3>Amount</h3>
        <p>{{ ingredientAmount }}</p>
        <img [src]="recipe.image" alt="{{ recipe.name }}">
        <br>
        <br>

        <div style="display: position; justify-content: space-between;">
            <button style="width: 150px;" (click)="viewRecipe(i)">View Recipe</button>
            <button style="width: 150px;" (click)="goToShoppingList(selectedRecipe)">Ingredients</button>
          </div> 

    </div>
</div>

<!-- Recipe Detail Modal -->
<div *ngIf="selectedRecipe" class="recipe-detail">
    <form *ngIf="isEditing" (ngSubmit)="saveRecipe()">
        <h2><input [(ngModel)]="selectedRecipe.name" name="recipeName" placeholder="Recipe Name" required></h2>
        <p><textarea [(ngModel)]="selectedRecipe.description" name="recipeDescription" placeholder="Recipe Description" required></textarea></p>
        <select [(ngModel)]="ingredientAmount" name="ingredientAmount" required>
            <option value="" disabled selected>Select Amount</option>
            <option *ngFor="let amount of amounts">{{ amount }}</option>
        </select>
        <!--<img [src]="selectedRecipe.image" alt="{{ selectedRecipe.name }}"-->
        <ul>
            <p *ngFor="let ingredient of selectedRecipe.ingredients; let i = index">
                <select [(ngModel)]="ingredientAmounts[i]" name="ingredientAmount{{i}}">
                    <option *ngFor="let amount of amounts">{{ amount }}</option>
                </select>
               
                <img [src]="selectedRecipe.image" alt="{{ selectedRecipe.name }}">
            </p>
        </ul>
        <br>
    </form>
    <div *ngIf="!isEditing">

       
        <p>{{ selectedRecipe.name ? "Recipe Name: " + selectedRecipe.name : "Recipe Name: (Placeholder)" }}</p>
        <p>{{ selectedRecipe.description ? "Description: " + selectedRecipe.description : "Description: (Placeholder)" }}</p>
        <p>{{ ingredientAmount ? "Amount: " + ingredientAmount : "Amount: (Placeholder)" }}</p>


        <ul>
            <li *ngFor="let ingredient of selectedRecipe.ingredients">{{ ingredient }}</li>
        </ul>
    </div>
    
    
    
    <div class="modal-buttons">
        <button *ngIf="!isEditing" (click)="editRecipe()">Edit Recipe</button>
        <button *ngIf="isEditing" (click)="saveRecipe(); isEditing = false;">Save</button>
        <button *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
        <button (click)="deleteRecipe(selectedRecipeIndex)">Delete Recipe</button>
        <button (click)="closeRecipeDetail()">Close</button>
    </div>
    
