<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Cards</title>
    <link rel="stylesheet" href="recipe.component.css">
</head>
<body>
    <header>
        <div class="overlay">
            <div class="header-content">
                <h1>Chicken Recipes</h1>
            </div>
        </div>
    </header>
    <main>
        
        <div class="recipe-container">
            <div class="recipe-card" *ngFor="let recipe of recipes; let i = index">
              <img [src]="getRecipeImage(i + 1)" [alt]="recipe.name">
              <h2>{{ recipe.name }}</h2>
              <button (click)="viewFullRecipe(recipe)">View Full Recipe</button>
            </div>
          </div>
          
          
          <!-- Recipe Details Modal -->
          <div *ngIf="showRecipeDetails" class="recipe-details-modal">
            <div class="modal-content">
              <span class="close" (click)="closeRecipeDetails()">&times;</span>
              <h2>{{selectedRecipe.name}}</h2>
              <h3>Ingredients:</h3>
              <ul>
                <li *ngFor="let ingredient of selectedRecipe.ingredients">{{ ingredient }}</li>
              </ul>
              <h3>Instructions:</h3>
              <ol>
                <li *ngFor="let instruction of selectedRecipe.instructions">{{ instruction }}</li>
              </ol>
            </div>
          </div>
          
   </main>
 
</body>
</html>
