<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="shopping-list.component.css">
</head>
<body>
  <section class="shopping-list">
    <div class="container">
      <h2> Add Ingredients</h2>
      <div class="form-container">
        <form id="shoppingForm">
          <div class="form-group">
            <label for="name">Ingredients Name *</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="amount">Amount *</label>
            <input type="number" id="amount" name="amount" required>
          </div>
          <div class="form-buttons">
            <button type="submit" id="addButton" class="btn btn-add">Add</button>
            <button type="button" id="clearButton" class="btn btn-clear">Clear</button>
          </div>
        </form>
      </div>
      <ul id="itemList" class="item-list">
        <li>
        </li>
      </ul>
    </div>
  </section>
  <script src=""></script>
</body>
</html>