<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="home.css">
    <style>
        
    </style>
</head>
<body>
    <!-- Image container -->
    <div class="image-container">
        <!-- Add an image -->
        <img src="assets/images/home.png" alt="Description of the image">

        <!-- Content above the image -->
        <div class="content">
            <h1>Welcome {{account.firstName}}!</h1>
           
        </div>
    </div>

     <!-- Chicken dish content -->
     <div class="chicken-container">
        <h1>Cook Wth Us</h1>
        <p>Get a beautif and delicious recipes</p>
    </div>

    <!-- Search bar -->
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </div>

   
</body>
</html>
